{% extends 'layout.twig' %}
{% block addProject %}
    
    <form method="post" class="bg-light px-3 py-2">
    <h1>Nuevo Proyecto</h1>
        <div class="d-flex py-2">
            <label id="title">Proyecto:</label>
            <input class="form-control ml-1" type="text" name="project" placeholder="Ingresa un trabajo">
        </div>
        <div class="d-flex py-2">
            <label id="description">Descripción de tu proyecto:</label>
            <textarea class="form-control ml-1" row="8" name="description" placeholder="Ingresa una descripción"></textarea>
        </div>
        <input type="submit" class="btn btn-success" value="Guardar">
    </form>
    <a class="btn btn-warning" href="/php/job/add">Nuevo trabajo</a>
    <a class="btn btn-warning" href="/php/user/add">Nuevo usuario</a>
    <a class="btn btn-warning" href="/php">Inicio</a>
{% endblock %}